node_modules
storage
.idea
*.swp

*.log
build/*
config/local.*
config/docker.*
config/production.*
package-lock.json

todo.md
startDB.bat
startMViewer.bat
.vscode

coverage

# server specific files
Dockerfile
docker-compose.yml
deploy.sh
**/fontawesome5
